[submodule "AWESOME/awesome-humane-tech"]
	path = AWESOME/awesome-humane-tech
	url = https://github.com/humanetech-community/awesome-humane-tech
[submodule "asc-key-to-qr-code"]
	path = asc-key-to-qr-code
	url = https://github.com/4bitfocus/asc-key-to-qr-code.git
[submodule "sshkey-grab"]
	path = sshkey-grab
	url = git@github.com:NetSPI/sshkey-grab.git
[submodule "gpicann"]
	path = gpicann
	url = https://github.com/masm11/gpicann.git
[submodule "EMACS/org-babel-examples"]
	path = EMACS/org-babel-examples
	url = https://github.com/dfeich/org-babel-examples.git
