[submodule "AWESOME/awesome-humane-tech"]
	path = AWESOME/awesome-humane-tech
	url = https://github.com/humanetech-community/awesome-humane-tech
[submodule "asc-key-to-qr-code"]
	path = asc-key-to-qr-code
	url = https://github.com/4bitfocus/asc-key-to-qr-code.git
[submodule "sshkey-grab"]
	path = sshkey-grab
	url = git@github.com:NetSPI/sshkey-grab.git
[submodule "gpicann"]
	path = gpicann
	url = https://github.com/masm11/gpicann.git
[submodule "EMACS/org-babel-examples"]
	path = EMACS/org-babel-examples
	url = https://github.com/dfeich/org-babel-examples.git
[submodule "EMACS/refcard-org-babel"]
	path = EMACS/refcard-org-babel
	url = git@github.com:fniessen/refcard-org-babel.git
[submodule "cryptotools"]
	path = cryptotools
	url = git@github.com:mcdallas/cryptotools.git
[submodule "stringlish"]
	path = stringlish
	url = git@github.com:aycock/stringlish.git
[submodule "git-katas"]
	path = git-katas
	url = https://github.com/eficode-academy/git-katas.git
[submodule "metagoofil"]
	path = metagoofil
	url = https://github.com/opsdisk/metagoofil.git
[submodule "fx"]
	path = fx
	url = https://github.com/antonmedv/fx.git
[submodule "Compare-UserJS"]
	path = Compare-UserJS
	url = https://github.com/claustromaniac/Compare-UserJS.git
[submodule "bulk-downloader-for-reddit"]
	path = bulk-downloader-for-reddit
	url = https://github.com/aliparlakci/bulk-downloader-for-reddit.git
[submodule "3d_soundscape"]
	path = 3d_soundscape
	url = https://github.com/emilyxxie/3d_soundscape.git
[submodule "EMACS/org-fc"]
	path = EMACS/org-fc
	url = git@github.com:l3kn/org-fc.git
[submodule "GISTS/lovecraft-word-pairs"]
	path = GISTS/lovecraft-word-pairs
	url = https://gist.github.com/sbma44/499288c2e5968a92956a3c5bfcc3e7ab
[submodule "paperkey"]
	path = paperkey
	url = git@github.com:dmshaw/paperkey.git
[submodule "training-kit"]
	path = training-kit
	url = https://github.com/github/training-kit.git
